{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>

    {%block title%}
        Parent
    {%endblock%}
    </title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body>

<table border="1" width="100%">
    <tr>
        <td colspan="9" align="center">
            <img src="{%static '/img/imge1.png'%}">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="#">Add Book</a><br>
            <a href="#"> Books</a><br>
            <a href="#"> Authors</a><br>
            <a href="#"> Add Author</a><br>
        </td>
        <td colspan="7"> {%block content%}
        content
    {%endblock%}</td>
    </tr>
    <tr>
        <td colspan="9">Footer</td>
    </tr>
</table>

</body>
</html>